@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #e9d5d5;
    text-align: center;

    font-family: 'Lato', sans-serif;
}

/* Gamers Guide heading/logo */

#logo {
    float: left;
    font-size: 58px;
    margin-left: 20px;
    margin-top: 0px;
    color: rgba(83, 84, 94, 0.959);

    font-family: 'Roboto', sans-serif;
}

/* header image + cover text */

#outer-header-image {
    height: 350px;
    width: 100%;
    overflow: hidden;
    /* border: 0.5px solid black; */
    position: relative;
}

#header-image {
    height: 100%;
    width: 100%;
    /* image is not completely viewable (change image at some point) */ 
    /* image was found by a google image search: https://data2.origin.com/asset/content/dam/originx/web/app/games/apex/apex/F2P/merch/Apex_Legends_premier_GDP_v1.jpg/1f9850e2-3c07-476b-ad34-2bcd41874dab/original.jpg */
    background: url('../images/apex-banner-characters.jpg') no-repeat center center;
}

/* #cover-text {
    color: rgb(31, 255, 10);
    font-size: 150%;
    letter-spacing: 4px;
    text-align: center;

    width: 500px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background: transparent;

    bottom: 30px;
    left: 750px;

    position: absolute;
} */

/* navigation list */

#menu {
    font-size: 105%;
    letter-spacing: 1.5px;

    font-family: 'Roboto', sans-serif;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 0px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Font (Find new font) */
h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

section div {
    padding-left: 10%;
    padding-right: 10%;
}

p {
    font-size: 18px;
}

#title {
    font-family: 'Roboto', sans-serif;
}

#common {
    color: rgb(97, 97, 97);
}

#rare {
    color: blue;
}

#epic {
    color: purple;
}

#legendary {
    color: rgb(153, 133, 20);
}

#special {
    color: red;
}

/* Home page styling */

#main {
    margin-left: 10%;
    margin-right: 10%;
    /* font-size: 120%; */
}

/* .index-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: salmon;
    padding: 10px;
    justify-content: center;
}

.index-grid-item {
    background-color: seagreen;
    border: 1px solid rgba(6, 31, 139, 0.959);
    font-size: 20px;
    
    padding: 10px;
    
} */

#download {
    border: none;
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;

    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 16px;
}

/* #character-select {
    max-width: 80%;
    height: auto;
}

#ping {
    max-width: 80%;
    height: auto;
}

#in-game-map {
    max-width: 70%;
    height: auto;
}

#respawn-beacon {
    max-width: 100%;
    height: auto;
}

#jump-tower {
    max-width: 80%;
    height: auto;
}

#supply-bin {
    max-width: 100%;
    height: auto;
} */

/* Characters page styling */

.offensive-character-container {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    padding: 10px;
    justify-content: center;
}

.offensive-character {
    padding: 10px;
    font-size: 28px;
}

.offensive-character > img {
    height: 75%;
    max-width: 100%;
}

.recon-character-container {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    padding: 10px;
    justify-content: center;
}

.recon-character {
    padding: 10px;
    font-size: 28px;
}

.recon-character > img {
    height: 75%;
    max-width: 100%;
}

.defensive-character-container {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    padding: 10px;
    justify-content: center;
}

.defensive-character {
    padding: 10px;
    font-size: 28px;
}

.defensive-character > img {
    height: 75%;
    max-width: 100%;
}

.support-character-container {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    padding: 10px;
    justify-content: center;
}

.support-character {
    padding: 10px;
    font-size: 28px;
}

.support-character > img {
    height: 75%;
    max-width: 100%;
}

#character-div {
    text-align: center;
}

/* Weapons page styling */

.ammo-type-container {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    padding: 10px;
    justify-content: center;
}

.ammo-type {
    padding: 10px;
    font-size: 20px;
}

#ammo-grid-header {
    grid-column: 1 / 4;
}

.assault-rifle-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.assault-rifle {
    padding: 10px;
    font-size: 20px;
}

.smg-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.smg {
    padding: 10px;
    font-size: 20px;
}

.lmg-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.lmg {
    padding: 10px;
    font-size: 20px;
}

.shotguns-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.shotguns {
    padding: 10px;
    font-size: 20px;
}

.marksman-rifles-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.marksman-rifles {
    padding: 10px;
    font-size: 20px;
}

.sniper-rifle-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.sniper-rifle {
    padding: 10px;
    font-size: 20px;
}

.pistols-container {
    display: grid;
    grid-template-columns: 420px 420px;
    padding: 10px;
    justify-content: center;
}

.pistols {
    padding: 10px;
    font-size: 20px;
}

#weapon-grid-header {
    grid-column: 1 / 3;
    font-size: 30px;
}

.weapon-attachments {
    display: grid;
    grid-template-columns: 260px 500px;
    padding: 10px;
    justify-content: center;
}

.attachments {
    padding: 10px;
    font-size: 20px;
    text-align: left;
    
    
    border: 1px solid black;
}

.weapon-optics {
    display: grid;
    grid-template-columns: 250px 480px ;
    padding: 10px;
    justify-content: center;
}

.optics {
    padding: 10px;
    font-size: 20px;
    /* text-align: center; */
    justify-content: center;
    
    border: 1px solid black;
}

/* Items page styling */

.healing-list-container {
    display: grid;
    grid-template-columns: 300px 200px 300px;
    /* background-color: blueviolet; */
    padding: 10px;
    justify-content: center;
}

.healing-item {
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border: 1px solid black;
}

.shield-list-container {
    display: grid;
    grid-template-columns: 300px 200px 300px;
    /* background-color: blueviolet; */
    padding: 10px;
    justify-content: center;
}

.shield-item {
    padding: 10px;
    font-size: 20px;
    text-align: left;
    
    border: 1px solid black;
}

#body-shield {
    grid-row: 2 / 7;
    text-align: center;
}

#helmet {
    grid-row: 7 / 11;
    text-align: center;
}

#knockdown {
    grid-row: 11 / 15;
    text-align: center;
}

.backpack-container {
    display: grid;
    grid-template-columns: 300px 200px 300px;
    /* background-color: blueviolet; */
    padding: 10px;
    justify-content: center;
}

.backpack-item {
    padding: 10px;
    font-size: 20px;
    text-align: left;
    
    border: 1px solid black;
}

#backpack {
    grid-row: 2 / 6;
    text-align: center;
}

#item-div {
    text-align: center;
}

table {
    text-align: left;
    border: 1px solid black;
    
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#healing-list {
    width: 60%;
}

#shield-list {
    width: 60%;
    height: 50%;
}

#backpack-list {
    width: 60%;
    height: 50%;
}

#item-table h4 {
    text-align: center;
}

/* Maps page */

.map-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 20px;
    padding-right: 20px;
}

.map-grid-item {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

/* Feedback page */

.center {
    margin: auto;
    width: 60%;
    border: 2px solid black;
    padding: 10px;
}

#improve  {
    width: 60%;
    height: 75px;
    border: 1px solid black;
}

#add_comments {
    width: 60%;
    height: 75%;
    border: 1px solid black;
}

input[type=radio] {
    text-align: left;
}

#submit {
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;

    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;

    border: 1px solid black;
    border-radius: 16px;
}

#home {
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;

    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;

    border: 1px solid black;
    border-radius: 16px;
}

#thank-you-message {
    font-weight: bolder;
    font-size: larger;
}

/* video styling */

#video {
    text-align: center;
}

/* all image styling */

img {
    border-radius: 16px;
}

/* footer */

footer {
    text-align: center;
    background-color: rgb(20, 19, 19);
    color: white;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    /* vertical-align: text-bottom; */
}

/* For larger to medium screen size from 1200px wide and down */


/* For medium screen sizes from 950px wide and down */ 

@media (max-width: 950px) {
    *, .healing-list-container, .shield-list-container .backpack-container {
        flex-direction: column;
    }
}