/* * {
    background-color: rgba(129, 129, 129, 0.979);
    color:honeydew; 
} */

/* landing page button + heading */

#landing-h1 {
    font-size: 500%;
}

#enter {
    background-color: red;
    width: 20%;
    height: 30px;
}

/* Gamers Guide heading/logo */

#logo {
    float: left;
    font-size: 290%;
    margin-left: 20px;
    margin-top: 0px;
}

/* header image */

#outer-header-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header-image {
    height: 600%;
    width: 100%;
    background: url() no-repeat center center;
}

/* navigation list */

#menu {
    font-size: 105%;
    letter-spacing: 1.5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 0px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}