* {
    margin: 0;
    padding: 0;
    border: none;
}

/* landing page button + heading */

#landing-h1 {
    font-size: 500%;
}

#enter {
    background-color: red;
    width: 20%;
    height: 30px;
}

/* Gamers Guide heading/logo */

#logo {
    float: left;
    font-size: 290%;
    margin-left: 20px;
    margin-top: 0px;
}

/* header image + cover text */

#outer-header-image {
    height: 350px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#header-image {
    height: 200%;
    width: 100%;
    /* need to change image to an Apex Legends banner when I find one that is compatible */
    background: url('../images/hero-image.webp') no-repeat center center;
}

#cover-text {
    color: rgb(0, 0, 0);
    font-size: 150%;
    letter-spacing: 4px;

    width: 500px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background: transparent;

    bottom: 30px;
    left: 750px;  

    position: absolute;
}

/* navigation list */

#menu {
    font-size: 105%;
    letter-spacing: 1.5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 0px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* For larger to medium screen size from 1200px wide and down */


/* For medium screen sizes from 950px wide and down */